head
  title Adafruit Learning System webIDE
  meta(charset='utf-8')
  link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
  link(rel="stylesheet", href="/stylesheets/font-awesome.css")
  link(rel="stylesheet", href="/javascripts/fileupload/css/jquery.fileupload-ui.css")
  link(rel="stylesheet", href="/stylesheets/colorbox.css")
  link(rel="stylesheet", href="/stylesheets/app.css")
  link(rel="stylesheet", href="/xterm.css")
  link(rel="stylesheet", href="/stylesheets/pytutor.css")
  script(src='/javascripts/jquery.min.js')
