!!! 5
html
  include header
  body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container-fluid
          a.brand(href="/") OccEditor
    #container
      block content
    script(src='/javascripts/bootstrap.min.js')