!!! 5
html
  include header
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.brand(href="/") RaspEditor
    #container
      block content
    script(src='/javascripts/bootstrap.min.js')