head
  title Adafruit Learning System Raspberry Pi WebIDE
  link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
  link(rel="stylesheet", href="/stylesheets/font-awesome.css")
  link(rel="stylesheet", href="/javascripts/fileupload/css/jquery.fileupload-ui.css")
  link(rel="stylesheet", href="/stylesheets/app.css")
  link(rel="stylesheet", href="/style.css")
  script(src='/javascripts/jquery.min.js')