!!! 5
html
  include header
  body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container-fluid
          a.brand(href="/")
            img(src="/images/WebIDE_Logo@2x.png", style="height:30px;")
          p.logout-wrapper
            a(href="/logout") Log out
          p.update-wrapper
          div.connection-state

    #container
      block content
    script(src='/javascripts/bootstrap.min.js')