extends ../layout

block content
  #login-wrapper
    #login-content
      img(src="/images/login/login2_logos.jpg")
      a(href="/auth/bitbucket", rel="external", class="btn btn-large") Click here to log in to your Bitbucket Account
      .login-help
        b Need Help? 
        a(href="http://learn.adafruit.com", target="_blank") Learn how to use the Raspberry Pi WebiDE here.