body {
  background-color: #f1f1f1;
}
.error {
  color: red;
}

#container {
  width: 100%;
  height: 100%;
}

#editor-container {
  display: none;
}

#editor-startup {
  height: 100%;
  padding: 20px 0 0 20px;
  background-color: white;
}

/* Top Nav Bar */

.navbar .brand {
  padding-left: 10px;
}


.connection-state {
  float: right;
  padding-top: 16px;
}

.connection-state.connected {
  color: #74a927;
}

.connection-state.disconnected {
  color: #bb1142;
}

.logout-wrapper {
  float: right;
  margin-top: 15px;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #E4E5E7;
}

.logout-wrapper a {
  color: #E4E5E7;
  vertical-align: middle;
}

.logout-wrapper a:hover {
  color: #b4b4b4;
  text-decoration: none;
}

.update-wrapper {
  float: right;
  margin-top: 15px;


  line-height: 20px;
}

.update-wrapper a {
  display: inline-block;
  color: #E4E5E7;
  padding-left: 10px;
  margin-left: 10px;
  height: 100%;
    border-left: 1px solid #E4E5E7;
  vertical-align: middle;
}

.update-wrapper a i {
  font-size: 20px;
  vertical-align: middle;
}

.update-wrapper a:hover {
  color: #b4b4b4;
  text-decoration: none;
}

/* Login page */
#login-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding-top: 200px;
  margin: 0 auto;
  text-align: center;
}

#login-wrapper img {
  margin: 0 auto;
  display: block;
  padding-bottom: 10px;
}

#login-wrapper .login-help {
  padding-top: 5px;
  font-size: 12px;
}

.login-info {
  margin: 0 auto;
  width: 400px;
}

/* File Navigator Section */

#navigator {
  position:absolute;
  left: 0;
  width: 298px;
  top: 50px;
  bottom: 40px;
  background-color: #EDEDED;
  border: 1px solid #EDEDED;
}

#navigator-top {
  background-color: #00a8e9;
}

#navigator-top p {
  margin: 0;
  color: #E4E5E7;
  font-size: 13px;
  line-height: 13px;
  padding: 13px 12px 12px 12px;
  border-bottom: 1px solid #EDEDED;
  cursor: pointer;
}

#navigator-top p a {
  color: #E4E5E7;
  text-decoration: none;
}

#navigator-top p a:hover {
  color: #b4b4b4;
}

#navigator-top p a.navigator-settings {
  float: right;
  padding-top: 1px;
  font-size: 16px;
}

a.navigator-settings i.settings-enabled {
  color: #74a927;
}

#navigator-folder {
  background-color: #323334;
}

#navigator-folder p {
  color: #E4E5E7;
  text-align: center;
  margin: 0;
  font-size: 12px;
}

#navigator-folder .refresh-directory {
  float: right;
  color: #fff;
  text-decoration: none;
  padding: 4px 15px 0 0;
}

#navigator-folder .refresh-directory:hover {
  color: #b4b4b4;
}

#navigator ul {
  margin: 0;
  height: auto;
  background-color: #B4B4B4;
  border: 1px solid #999999;
  overflow: auto;
}

#navigator ul li {
  list-style-type: none;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #909090;
  cursor: pointer;
  overflow: hidden;
}

#navigator ul li:last-child {
  border-bottom: none;
}

#navigator ul li.file-open {
  background-color: #8D8D8D;
}

#navigator ul li:hover {
  background-color: #A3A3A3;
}

#navigator ul li a {
  color: #343637;
  font-weight: bold;
  text-decoration: none;

}

#navigator ul li.file-open a, #navigator ul li.file-open i  {
  color: #EDEDED;
}

#navigator ul li i {
  float: right;
  color: #343637;
}

#navigator ul li i.icon-minus-sign {
  color: #bb1142;
}

#navigator-bottom {
  background-color: #323334;
  width: 298px;
  border-top: 1px solid #EDEDED;
}

#navigator-bottom p {
  padding: 10px 10px 10px 10px;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#navigator-bottom p a {
  color: #E4E5E7;
  text-decoration: none;
}

#navigator-bottom p:hover a, #navigator-bottom p:hover span {
  color: #b4b4b4;
}

.fileinput-button span {
  font-size: 16px;
  color: #E4E5E7;
  font-weight: bold;
}

.navigator-item-upload, .navigator-item-create:nth-child(2) {
  border-top: 1px solid #EDEDED;
}

/* Context menu for navigator */
.context-menu {
  position: absolute;
  background-color: #313333;
  border-top: 1px solid #E4E5E7;
  border-left: 1px solid #E4E5E7;
  border-right: 1px solid #E4E5E7;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  font-size: 16px;
  z-index: 10;
}

.context-menu li {
  list-style-type: none;
  padding: 10px 25px 8px 10px;
  border-bottom: 1px solid #E4E5E7;
  cursor: pointer;
}

.context-menu li:hover a {
  color: #b4b4b4;
}

.context-menu li a {
  color: #E4E5E7;
}

.context-menu li a:hover {
  text-decoration: none;

}

#create-modal .modal-body p .small {
  font-size: 12px;
}

#create-modal .modal-body input[type="text"] {
  width: 97%;
  height: 30px;
}

#confirm-modal p {
  margin-bottom: 0;
}

.rename-form {
  margin: 0;
}

.create-form {
  margin-bottom: 2px;
  color: #E4E5E7;
}

.create-form a {
  float: right;
}

.create-input-wrapper, .rename-input-wrapper {
  background-color: #FFFFFF;
  border: 1px solid #909090;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.create-input-wrapper .create-save, .rename-submit {
  float: right;
  color: #E4E5E7 !important;
  background-color: #087BD1;
  font-size: 11px;
  margin: 6px 6px 0 0;
  padding: 3px 7px 3px 7px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.rename-submit:hover {
  background-color: #006cbd;
}

.create-input-wrapper input[type='text'], .rename-input-wrapper input[type='text'] {
  width: 185px;
  margin: 5px;
  height: 30px;
  background-color: #FFFFFF;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.rename-input-wrapper {
  width: 100%;
  padding: -2px 0 0 0;
}

.rename-input-wrapper input[type='text'] {
  width: 190px;
  margin: 5px;
}

/* Trace Section */
#trace-wrapper {
  position:absolute;
  left: 300px;
  right: 0;
  top: 50px;
  bottom: 40px;
  border-bottom: 1px solid #EDEDED;
}

#trace-container, #trace-loader {
  position: absolute;
  top: 41px;
  bottom: 0;
  left: 0;
  right: 0;
}

#trace-loader div {
  background:url("/images/ajax-loader.gif") no-repeat center center;
  height:100%;
  width:100%;
}
/* Editor Section */

#editor-wrapper {
  position:absolute;
  left: 300px;
  right: 0;
  top: 50px;
  bottom: 0px;
  margin-bottom: 40px;
  border-bottom: 1px solid #EDEDED;
}

#editor-bar, #trace-bar {
  height: 40px;
  background-color: #323334;
  border-top: 1px solid #EDEDED;
  border-right: 1px solid #EDEDED;
  color: #E4E5E7;
  font-size: 16px;
}

#trace-bar {
  height: 39px;
}

#editor-bar p {
  padding: 10px 10px 10px 20px;
}

#trace-bar p {
  padding: 10px 10px 10px 2px;
}

#editor-bar p.editor-bar-actions a, #trace-bar p.trace-bar-actions a {
  color: #E4E5E7;
  text-decoration: none;
  margin-right: 20px;
}

#editor-bar p.editor-bar-actions .open-tutorial {
  float: right;
  margin-right: 10px;
}

#editor-bar .schedule-file, #editor-bar .debug-status {
  float: right;
  margin-right: 10px !important;
}

#editor-bar .debug-status {
  color: #74A927;
}

#editor-bar p.editor-bar-actions a:hover, #trace-bar p.trace-bar-actions a:hover {
  color: #b4b4b4;
}

#editor, #schedule-manager, #settings-manager {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 0;
  margin-bottom: -40px;
  border-top: 1px solid #EDEDED;
  border-right: 1px solid #EDEDED;
}

#schedule-manager, #settings-manager {
  display: none;
  background-color: #FFFFFF;
}
#schedule-manager table {
  width: 100%;
  margin: 0 auto;
  color: #2F3133;
}

#schedule-manager table th {
  background-color: #bd2c2c;
  border: 1px solid #bd2c2c;
  color: #E4E5E7;
  font-size: 12px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  line-height: 18px;
}


#schedule-manager table td {
  background-color: #EDEEEE;
  padding: 5px;
  color: #2F3133;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #B4B4B4;
}

#schedule-manager table td a {
  font-size: 12px;
}

#schedule-manager tr.spacer {
  margin: 1px 0 0 0;
  padding: 0;
}

#schedule-manager tr.spacer td {
  border: none;
  margin: 1px 0 0 0;
  padding: 1px 0 0 0;
}

.close-schedule-manager, .close-settings-manager {
  float: right;
}

#editor-bar .saved-setting {
  padding-left: 10px;
}

#settings-manager .settings-element {
  margin-top: 8px;
  margin-bottom: 17px;
}

#settings-manager span {
  border: 1px solid #B4B4B4;
  background-color: #EDEEEE;
  color: #2F3133;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  margin: 0 1px 0 0;
}

.settings-element .font-size-value, .soft-tab-value, .tab-size-value, .invisibles-value, .manual-git-value, .python-version {
  cursor: pointer;
}

#settings-manager span.selected {
  border: 1px solid #B4B4B4;
  background-color: #B4B4B4;
}

#editor-output-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

#editor-output {
  position: relative;
  overflow: hidden;
  background-color: #1A1A1A;
  width: 100%;
  height: 0;
}

#editor-output .outputTitleBar {
  position: absolute;
  background-color: #323233;
  height: 20px;
  top: 0;
  right: 0;
  left: 0;
  padding: 0;
  font-size: 11px;
  color: #E4E5E7;
}

#editor-output .outputTitleBar .left-title {
  position: absolute;
  left: 0;
  right: 50%;
  bottom: 0;
  top: 0;
  padding-left: 10px;
}

#editor-output .outputTitleBar .right-title {
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 10px;
  border-left: 1px solid #EDEDED;
}

#pre-wrapper {
  position: absolute;
  left: 0;
  right: 50%;
  bottom: 0;
  top: 20px;
  overflow: auto;
}

#variables-wrapper {
  position: absolute;
  left: 50%;
  right: 0;
  top: 20px;
  bottom: 0;
  border-left: 1px solid #EDEDED;
  background-color: #1A1A1A;
  color: #E4E5E7;
  overflow: auto;
}

#editor-output pre {
  display: inline;
  color: #E4E5E7;
  font-size: 12px;
  line-height: 12px;
  background-color: #1A1A1A;
  padding: 0px;
  border: none !important;
  margin: 0;
  -webkit-border-radius: none !important;
  -moz-border-radius: none !important;
  border-radius: none !important;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.ansiblack {color: black;}
.ansired {color: darkred;}
.ansigreen {color: darkgreen;}
.ansiyellow {color: brown;}
.ansiblue {color: darkblue;}
.ansipurple {color: darkviolet;}
.ansicyan {color: steelblue;}
.ansigrey {color: grey;}
.ansibold {font-weight: bold;}

.dragbar, .trace-dragbar {
  display: none;
  background-color: #1A1A1A;
  width:100%;
  height: 1px;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  cursor: row-resize;
}
.trace-dragbar {
  display: block;
}

#ghostbar {
  height: 1px;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  background-color: #1A1A1A;
  opacity: 0.5;
  position: absolute;
  cursor: row-resize;
  z-index: 999;
}

#setup-wrapper {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#setup-content h3 {
  font-size: 16px;
}

#setup-content p {
  margin-bottom: 15px;
}

#setup-content form {
}

#setup-content form .control-group {
  width: 450px;
  margin-left: 100px;
}

#setup-content form label {
  font-size: 12px;
  font-weight: bold;
}

#setup-content form input[type='text'], #setup-content form input[type='password'] {
  width: 350px;
  height: 30px;
}

#setup-content form .skip-button {
  margin-left: 10px;
}



#schedule-modal .scheduler-links a{
  margin: 0 5px 5px 0;
}

#schedule-modal .scheduler-form form {
  margin-bottom: 0;
}

#schedule-modal .scheduler-form label {
  font-weight: bold;
}

#schedule-modal .scheduler-error {
  color: #BA0E41;
}

#schedule-modal .scheduler-form input[type='text'] {
  width: 515px;
  height: 30px;
  font-size: 20px;
}

.schedule-footer {
  float: right;
  font-size: 14px;
  color: #E4E5E7;
  padding: 10px 20px 0 10px;
}

.schedule-footer a {
  color: #E4E5E7;
  text-decoration: none;
  padding-left: 7px;
}

.schedule-footer .schedule-status {
  color: #74A927;
  border-right: 1px solid #E4E5E7;
  padding-right: 7px;
}

.editor-version {
  float: left;
  padding: 10px 0 0 10px;
}

.editor-version a {
  color: #999999;
  text-decoration: none;
}

.editor-version a:hover {
  color: #E4E5E7;
}

.ace_gutter-cell.ace_breakpoint{
  background-color: #BB1142;
}

.debug-line {
  position: absolute;
  z-index: 5;
  background-color: #BB1142;
}

.debug-link-disabled {
  opacity: 0.5;
}

.debug-link-disabled:hover {
  cursor: wait;
}
