extends layout

block content
  - if (!user)
    h4 Welcome! Please log in.
    a(href="/auth/bitbucket") Login with Bitbucket
  - else
    h4 Hello, #{user.username}
    p Please choose a repository
      for repository in user._json.repositories
        .repository
          a(href="/editor/#{repository.name}") #{repository.name}