extends ../layout

block content
  #navigator
    #navigator-top
      p
    #navigator-folder
      p
    ul.filesystem
  #editor-wrapper
    #editor-bar
    #editor
  script(src="/javascripts/ace/ace.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/ace/keybinding-vim.js")
  script(src="/javascripts/ace/keybinding-emacs.js")
  //script(src="/javascripts/jquery.jstree.js")
  script(src="/javascripts/davFS.js")
  script(src="/javascripts/occ_editor.js")
  script(src="/javascripts/core.js")