extends ../layout

block content
  #editor-startup
    p Initializing Editor...
  #editor-container
    #navigator
      if profile
        input(type="hidden", name="username", value="#{profile.username}")
      
      #navigator-top
        p
      #navigator-folder
        p
      ul.filesystem
      #navigator-bottom
        p.navigator-item-create
          a + Clone Repository
    #editor-wrapper
      #editor-bar
      #editor
      #editor-output-wrapper
        #dragbar
        #editor-output
          #pre-wrapper
            pre
    .navbar.navbar-fixed-bottom.navbar-inverse
      .navbar-inner
        div.editor-version Adafruit WebIDE v#{version}
    #create-modal(class="modal hide fade")
      .modal-header
        button.close(type="button", data-dismiss-"modal", aria-hidden="true") &times;
        h3#create-modal-label
      .modal-body
        p
      .modal-footer
        button.btn(data-dismiss="modal", aria-hidden="true") Close
        button.btn.btn-primary.modal-submit Save
  #trace-container
  script(src="/javascripts/ace/ace.js")
  script(src="/socket.io/socket.io.js")
  script(src="/term.js")
  script(src="/options.js")
  script(src="/tty.js")
  script(src="/javascripts/trace/d3.v2.min.js")
  script(src="/javascripts/trace/jquery.ba-bbq.min.js")
  script(src="/javascripts/trace/jquery.jsPlumb-1.3.10-all-min.js")
  script(src="/javascripts/trace/pytutor.js")
  script(src="/javascripts/fileupload/js/vendor/jquery.ui.widget.js")
  script(src="/javascripts/fileupload/js/jquery.fileupload.js")
  script(src="/javascripts/fileupload/js/jquery.fileupload-ui.js")  
  script(src="/javascripts/davFS.js")
  script(src="/javascripts/jquery.colorbox-min.js")
  script(src="/javascripts/context_menu.js")
  script(src="/javascripts/occ_editor.js")