extends ../layout

block content
  #setup-wrapper
    #setup-content
      h3 Welcome to the Raspberry Pi WebIDE powered by the Adafruit Learning System
      p Setting up your Raspberry Pi will only take a few minutes.  Let's get started.
      p One of the many useful features of the WebIDE is that all of your code will be
        | stored in the cloud over at bitbucket.org. So, before we can go any further, you
        | will want to create your free bitbucket account.  If you already have one, you can use
        | your existing account, or create one specifically for the Raspberry Pi WebIDE.
      p
        a.btn.btn-large.btn-info.bitbucket-signup(href="https://bitbucket.org/account/signup/", target="_blank") Click here to create your free bitbucket account
      p
        img(src="/images/setup/step1.jpg")
      p In your Account page, click on the Integrated Applications link in the left column:
      p
        img(src="/images/setup/step2.jpg")
      p Now, click on the '+ Add consumer' button:
      p
        img(src="/images/setup/step3.jpg")
      p For the name, type in Raspberry Pi WebIDE, then click the 'Add consumer' button:
      p
        img(src="/images/setup/step4.jpg")
      p What we are after is the Key, and the Secret text. Copy each of those and paste in the boxes below.
      p
        img(src="/images/setup/step5.jpg")
      p Copy the key and Secret codes into these text boxes, and then click submit:
      form(method="post", action="/setup", class="form-horizontal")
        div.control-group
          label(for="key", class="control-label") Key:
          div.controls
            input(type="text", name="key")
        div.control-group
          label(for="secret", class="control-label") Secret:
          div.controls
            input(type="text", name="secret")
        p
          input(type="submit", class="btn btn-primary", name="Submit")