extends ../layout

block content
  #editor-startup
    p Initializing Editor...
  #editor-container
    #navigator
      input(type="hidden", name="username", value="#{profile.username}")
      #navigator-top
        p
      #navigator-folder
        p
      ul.filesystem
      #navigator-bottom
        p.navigator-item-create
          a + Clone Repository
    #editor-wrapper
      #editor-bar
      #editor
      #editor-output-wrapper
        #dragbar
        #editor-output
          #pre-wrapper
            pre
    #create-modal(class="modal hide fade")
      .modal-header
        button.close(type="button", data-dismiss-"modal", aria-hidden="true") &times;
        h3#create-modal-label
      .modal-body
        p
      .modal-footer
        button.btn(data-dismiss="modal", aria-hidden="true") Close
        button.btn.btn-primary.modal-submit Save
  script(src="/javascripts/ace/ace.js")
  script(src="/socket.io/socket.io.js")
  script(src="/term.js")
  script(src="/options.js")
  script(src="/tty.js")
  //script(src="/javascripts/ace/keybinding-vim.js")
  //script(src="/javascripts/ace/keybinding-emacs.js")
  //script(src="/javascripts/jquery.jstree.js")
  script(src="/javascripts/davFS.js")
  script(src="/javascripts/occ_editor.js")
  //script(src="/javascripts/core.js")